*.DS_Store
.python-version
*.ipynb_checkpoints

*__pycache__
*.mypy_cache
*.cache

*.coverage
*coverage.xml

venv
.idea

models/*
!models/README.md
!models/universal-sentence-encoder-multilingual-large-3
models/universal-sentence-encoder-multilingual-large-3/*
!models/universal-sentence-encoder-multilingual-large-3/README.md
